body {

  background-color: #f8f8f8;
}
*{
  font-family: "Roboto",san-serif;
}

#landing {
  height: 80vh;
  /* center the content vertically using flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  width: 500px;
  border-radius: 50%;
}

#landing 
#gallery{
  height: 80vh;
  /* center the content vertically using flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul{
  list-style: none;
  padding:0;
  color: white;
}
h2{
  color: blue;
}